
#no-items {
  padding: 2rem 0;
  color: lightgrey;
  font-style: italic;
}

.panel {
  padding-top: 52px;
  margin-bottom: 0 !important;
}

.panel-heading {
  position: fixed;
  width: 100%;
  margin-top: -52px;
  z-index: 100;
}

.read-item {
  border-left: 5px solid gray !important;
}

.read-item.is-active {
  border-left: 5px solid #00d1b2 !important;
}